<?xml version="1.0" encoding="utf-8"?>
<Package
    xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" 
    xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" 
    xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"  
    xmlns:uap2="http://schemas.microsoft.com/appx/manifest/uap/windows10/2" 
    xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
    IgnorableNamespaces="uap mp uap2">
  <Identity
    Name="eaaf3af3-1402-4e5b-b6a1-5d0fbb7c1ba8"
    Publisher="CN=jcds"
    Version="1.0.35.0" />
  <mp:PhoneIdentity PhoneProductId="eaaf3af3-1402-4e5b-b6a1-5d0fbb7c1ba8" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
  <Properties>
    <DisplayName>hl2ss</DisplayName>
    <PublisherDisplayName>jcds</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="hl2ss.App">
      <uap:VisualElements DisplayName="hl2ss" Description="Project for a single page C++/WinRT Universal Windows Platform (UWP) app with no predefined layout"
        Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <rescap:Capability Name="perceptionSensorsExperimental"/>
	<rescap:Capability Name="extendedExecutionUnconstrained"/>
    <Capability Name="internetClient" />
    <uap2:Capability Name="spatialPerception"/>
    <Capability Name="privateNetworkClientServer"/>
    <Capability Name="internetClientServer"/>
    <DeviceCapability Name="gazeInput"/>
    <DeviceCapability Name="webcam"/>
    <DeviceCapability Name="backgroundSpatialPerception"/>
    <DeviceCapability Name="microphone"/>
  </Capabilities>
</Package>